*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #74ebd5, #ACB6E5);

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.container{

    background: white;

    width: 400px;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

    text-align: center;

    transition: 0.5s;
}

h1{
    margin-bottom: 20px;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;
}

button{
    padding: 12px 15px;

    border: none;

    border-radius: 8px;

    background: linear-gradient(45deg, #ff416c, #ff4b2b);

    color: white;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
}

ul{
    list-style: none;
}

li{

    background: #f4f4f4;

    padding: 12px;

    border-radius: 8px;

    margin-bottom: 10px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.dark-btn{
    margin-top: 20px;
}



/* DARK MODE */

.dark{
    background: linear-gradient(135deg, #141E30, #243B55);
}

.dark .container{
    background: #1f1f1f;
    color: white;
}

.dark li{
    background: #333;
}

.dark input{
    background: #444;
    color: white;
    border: none;
}